body{
	margin: 0;
	display: flex;
	flex-direction: column;
	font-family: Arial, Helvetica, sans-serif;
	min-width: 470px;
	background: #31572c;
}

input{
	margin: 10px;
	padding: 10px;
	min-width: 400px;
	box-sizing: border-box;
	border: 1px solid #5f9341;
}

button{
	margin: 10px;
	width: 130px;
	background-color: #5f9341;
	padding: 10px 20px;
	border: 1px solid #5f9341;
	/*border-radius: 4px;*/
	color: white;
	font-weight: bold;
}

#delete-btn{
	background: white;
	color: #5f9341;
}

ul{
	list-style-type: none;
	padding-left: 0;
}

li{
	margin-top: 5px;
}

li a{
	color: white;
	text-decoration: none;
}

#results{
	background: #90a955;
	padding: 5px 10px;
}